   html, body{
      height: 99%;
    }
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(0, 0, 0, .8);
  }
  .menu{
    margin-bottom: 20px;
    padding: 12px 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
  }
  .menu-item{
    --i: 1;
    border-radius: 10px;
    width: calc(40px * var(--i));
    height: calc(40px * var(--i));
    margin-bottom: calc(var(--i) * 15px - 15px);
    background-color: rgb(34, 199, 158);
  }
  .gap{
    --i: 1;
    width: calc(15px * var(--i));
  }