.section-container,
.header-content {
    /* max-width: 1280px; */
    max-width: 1300px;
    min-width: 900px;
    width: 65%;
    margin: auto;
}

.header-content {
    /* width: 100%; */
}

.home-header {
    height: 72px;
    line-height: 72px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 !important;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.home-header .navbar-brand {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header-logo {
    font-family: cursive;
    font-weight: 900;
    font-size: 30px;
}

.header-content li:hover,
li.active {
    cursor: pointer;
    font-weight: 500;
    box-shadow: inset 0 -3px #000;
    /* color: #a0b5cd;
    box-shadow: inset 0 -3px #a0b5cd; */
}

.section-container {
    margin-top: 100px;
    font-weight: 300;
    font-size: 18px;
}

.section-container p {
    text-align: justify;
}

.section-item {
    padding: 24px 0;
    border-bottom: 1px solid #e4e4e4;
    text-align: justify;
}

.link-block a {
    /* color: #000; */
    color: #859ab1;
    text-decoration: none;
    font-weight: 500;
}

.link-block img {
    width: 36px;
    margin-right: 12px;
}

.link-block img:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.section-item h3 {
    font-size: 30px;
    line-height: 26px;
    font-weight: 800 !important;
    font-family: cursive;
    margin-bottom: 12px !important;
}

.section-item h4 {
    font-size: 19px;
    
    font-weight: 500;
}

.subheadings {
    font-size: 28px !important;
    font-family: cursive;
    font-weight: 750 !important;
}

b, .navbar-brand b {
    font-weight: 650 !important;
}

.research-section .row {
    margin-top: 24px !important;
}

.research-section .author {
    margin-bottom: 6px;
}

.research-section .link-list {
    margin-bottom: 8px;
}

.research-section abstract {
    font-size: 14px;
}

.section-item .row li {
    line-height: 32px;
}

.navbar-brand {
    font-size: 1.5rem !important; /* 推荐：响应式单位，清晰专业 */
    font-weight: 800;
    font-family: cursive;
}

.abstract {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;  
}

strong {
    color: #0066cc;
    font-weight: 600;
}